* {
	font-family: "Poppins";
}

body {
	z-index: 0;
}

/*navbar*/

/*master head*/
.header {
	display: grid;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 110%;
}

.judul {
	display: flex;
	position: absolute;
	width: 50%;
	height: 110%;
}

.judul h2 {
	position: absolute;
	width: 506px;
	height: 60px;
	left: 213px;
	top: 158px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: normal;
	color: blue;
}

.judul h3 {
	position: absolute;
	width: 506px;
	height: 60px;
	left: 103px;
	top: 151px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 60px;
	color: #FFFFFF;
}

.judul h1 {
	position: absolute;
	width: 555px;
	height: 60px;
	left: 103px;
	top: 211px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 50px;
	color: #FFFFFF;
}

.judul p {
	position: absolute;
	width: 707px;
	height: 315px;
	left: 103px;
	top: 341px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
}

/*kotak 1 [LOGODARK sebelah kanan]*/
.kotakLOGO {
	position: absolute;
	width: 50%;
	height: 110%;
	left: 680.6px;
	z-index: 1;
}

.kotakLOGO .kotak1 {
	left: 370.6px;
	top: 250px;
	position: absolute;
	width: 340.98px;
	height: 340.98px;
	box-shadow: 0px 4px 50px rgba(65, 53, 53, 0.51);
	background: #313139;
	border-radius: 20px;
	transform: rotate(45deg);
	z-index: 1;
}

.LOGOdark img {
	position: absolute;
	width: 592px;
	height: 592px;
	left: 230px;
	z-index: 1;
	top: 120px;
}

/*kotak 2 [Kotak Biru Sebelah kiri]*/
.kotak2 {
	position: absolute;
	width: 145.92px;
	height: 146.42px;
	left: -20px;
	top: 150.18px;
	background: #0071F2;
	border-radius: 20px;
	transform: rotate(-45deg);
	z-index: -1;
}

/*kotak 3 [kuning di belakang kotak LOGODARk]*/
.kotak3 {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 1002px;
	top: 264px;
	border: 3px solid rgba(250, 255, 0, 0.8);
	box-sizing: border-box;
	z-index: -1;
}

/*kotak sosmed email,wa,ig*/
.sosmed {
	position: absolute;
	width: 274px;
	height: 55px;
	left: 100px;
	top: 535px;

}

.sosmed .kotak4 {
	position: absolute;
	width: 124px;
	height: 55px;
	border: 1px solid #0071F2;
	box-sizing: border-box;
	border-radius: 5px;
}

.sosmed .kotak4 a {
	position: absolute;
	width: 120px;
	height: 45px;
	top: 5px;
	font-family: Poppins;
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 37px;
	color: #0071F2;
	border-radius: 5px;
	text-align: center;
}

.kotak4:hover {
	background-color: #0071F2;
}

.kotak4 a:hover {
	color: #FFFFFF;
}

.sosmed .kotak5 {
	position: absolute;
	left: 150px;
	top: 0px;
	width: 122px;
	height: 55px;
}

.wa img {
	width: 50px;
	height: 49px;
}

.sosmed .kotak5 .wa a {
	left: 70px;
	top: 2px;
	position: absolute;
	width: 50px;
	height: 48px;
}

.wa a:hover {
	background-color: green;
	border-radius: 30px;
}

.ig img {
	width: 50px;
	height: 50px;
}

.sosmed .kotak5 .ig a {
	position: absolute;
	width: 50px;
	height: 50px;
}

.ig a:hover {
	background-color: #ce1f70b9;
	border-radius: 25px;
}

/*aksesoris [kotak kuning]*/
.aksesoris1 {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 900px;
	top: 662.07px;
	background: rgba(250, 255, 0, 0.8);
	transform: rotate(-45deg);
}

/*aksesoris bintang biru atas LOGODARK*/
.aksesoris2 {
	position: absolute;
	width: 150px;
	height: 150px;
	left: 1245px;
	top: 90px;
}

.aksesoris2 img {
	position: absolute;
	width: 100px;
	height: 100px;

}

/*bintang biru bawah LOGODARK*/
.aksesoris3 {
	position: absolute;
	width: 135px;
	height: 135px;
	left: 924px;
	top: 431px;


}

.aksesoris3 img {
	position: absolute;
	width: 100px;
	height: 100px;
}

/*akhir masterhead*/
/*awal tulisan alter element*/
.alter {
	position: absolute;
	width: 100%;
	height: auto;
	left: -5px;
	top: 700px;
	background-size: cover;
}

.alter img {
	width: 662px;
	height: 211px;
}



.element {
	position: absolute;
	width: 881px;
	height: auto;
	left: 456px;
	top: 932px;
}

.element img {
	width: 889px;
	height: auto;
	background-size: cover;
	left: 456px;
	top: 932px;
}

/*akhir tulisan alter element*/
/*Service*/
.service {
	position: absolute;
	width: 100%;
	height: 934px;
	top: 1100px;

}

/*best service*/
.service .best {
	position: absolute;
	width: 100%;
	height: 315px;
	top: -50px;
}

.service .best img {
	position: absolute;
	left: 50px;
	width: 355px;
	height: 352px;
}

.service .best h3 {
	color: #FFFFFF;
	position: absolute;
	left: 700px;
	top: 80px;
	text-decoration: underline;
	font-family: "Poppins";
}

.service .best p {
	color: #FFFFFF;
	position: absolute;
	left: 700px;
	top: 120px;
	font-family: Roboto;
	line-height: 40px;
	display: flex;
	align-items: center;
	font-size: 20px;
}

.service .best span {
	position: absolute;
	width: 645px;
	height: 6px;
	left: 700px;
	top: 315px;
	background: #C4C4C4;
	border-radius: 5px;
}

/*consul*/
.service .consul {
	position: absolute;
	width: 100%;
	height: 319px;
	top: 270px;
}

.service .consul img {
	position: absolute;
	left: 909px;
	width: 355px;
	height: 352px;
}

.service .consul h3 {
	position: absolute;
	width: 337px;
	height: 60px;
	left: 20px;
	top: 35px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	line-height: 60px;
	display: flex;
	align-items: center;
	text-align: center;
	text-decoration: underline;
	color: #FFFFFF;
}

.service .consul p {
	position: absolute;
	width: 711px;
	height: 350px;
	left: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
	display: flex;
	align-items: center;
	text-transform: capitalize;
	color: #FFFFFF;
}

.service .consul span {
	position: absolute;
	width: 711px;
	height: 6px;
	left: 20px;
	top: 290px;
	background: #C4C4C4;
}

/*maintance*/
.service .maintance {
	position: absolute;
	width: 100%;
	height: 306px;
	top: 589px;
}

.service .maintance img {
	position: absolute;
	left: 50px;
	width: 355px;
	height: 352px;
}

.service .maintance h3 {
	position: absolute;
	width: 432px;
	height: 60px;
	left: 700px;
	top: 10px;
	text-decoration: underline;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}

.service .maintance p {
	position: absolute;
	width: 611px;
	height: 350px;
	left: 700px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
	display: flex;
	align-items: center;
	text-transform: capitalize;
	color: #FFFFFF;
}

.service .maintance span {
	position: absolute;
	width: 645px;
	height: 6px;
	left: 700px;
	top: 300px;
	background: #C4C4C4;
}

/*Akhir service*/
/*testimoni*/
.testimoni {
	position: absolute;
	width: 100%;
	height: 500px;
	top: 1999px;
}

.testimoni .tulisan {
	position: absolute;
	width: 200px;
	height: 60px;
	left: 609px;
	top: 40px;
}

.testimoni .tulisan h1 {
	position: absolute;
	width: 300px;
	height: 50px;
	font-family: Poppins;
	font-style: normal;
	line-height: 50px;
	text-transform: capitalize;
	color: #FFFFFF;
}

.testimoni .tulisan span {
	position: absolute;
	width: 110px;
	height: 4px;
	left: 50px;
	background: #FFFFFF;
	border-radius: 2px;
	top: 50px;
}

.testimoni .kotaktesti {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 150px;
	background: #29282F;
}

.testimoni .kotaktesti .letakkotakfoto {
	position: absolute;
	width: 390px;
	height: 390px;
	left: 242px;
	top: -50px;

}

.testimoni .kotaktesti .kotakfoto {
	position: absolute;
	width: 370px;
	height: 390px;
	background: #313139;
	transform: rotate(-45deg);
	border-radius: 300px;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.51);
}

.testimoni .kotaktesti .letakkotakfoto img {
	position: absolute;
	left: -55px;
	top: -185px;
	width: 520px;
	height: 570px;
	border-radius: 300px;
	z-index: 3;
	background-size: cover;
}

.testimoni .kotak3 {
	position: absolute;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 196px;
	top: 158.29px;
	border: 3px solid rgba(250, 255, 0, 0.8);
	box-sizing: border-box;
	transform: rotate(45deg);
	z-index: 1;
}

.testimoni .aksesoris3 {
	position: absolute;
	left: 225px;
	top: 390px;
	z-index: 1;
}

.testimoni .kotak2 {
	z-index: 1;
	border-radius: 300px;
	left: 550px;
	opacity: 0.5;
	width: 100px;
	height: 100px;
}

.testimoni .namatesti {
	width: 250px;
	height: 100px;
	position: absolute;
	left: 826px;
	top: 150px;
	color: #FFFFFF;


}

.testimoni .namatesti h2 {
	font-family: Poppins;
	font-style: normal;
	line-height: 50px;
	text-transform: capitalize;

}

.testimoni .kesan {
	width: 490px;
	height: 100px;
	position: absolute;
	left: 720px;
	top: 290px;
	color: #FFFFFF;
}

.testimoni .kesan p {
	font-family: Roboto;
	line-height: 30px;
}

/*akhir testimoni*/
/*footer*/
.footer {
	position: absolute;
	width: 100%;
	height: 200px;
	top: 2550px;
	color: #FFFFFF;
}

.footer .info {
	position: absolute;
	width: 600px;
	height: 143px;
	left: 179px;
}

.info .medsos {
	position: absolute;
	width: 140px;
	height: 55px;
	left: 20px;
}

.info .medsos .ig a {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 80px;
	top: 1px;
}

.info .medsos .wa a {
	position: absolute;
	width: 50px;
	height: 50px;
}

/*akhir footer*/
/*Responsive break point*/
/*tablet*/
@media(max-width:768px) {

	/*master head*/
	.header {
		width: 768px;
		height: 500px;
	}

	/* kata pengantar */
	.judul {
		display: flex;
		position: absolute;
		width: 50%;
		height: 600px;
		left: -70px;
		z-index: 1;
	}

	.judul p {
		font-size: 12pt;
		line-height: 20px;
		top: 269px;
	}

	.judul h1 {
		font-size: 17pt;
		line-height: 25px;
	}

	.judul h2 {
		font-size: 16pt;
		top: 168px;
		left: 197px;
	}

	.judul h3 {
		font-size: 13pt;
	}

	/* akhir kata pengantar */
	/* kotak logo dan aksesoris */
	/* kotak logodark */
	.kotakLOGO {
		position: absolute;
		width: 50%;
		height: 600px;
		left: 400px;
		z-index: 1;
		top: 30px;
	}

	.kotakLOGO .kotak1 {
		left: 159px;
		top: 150px;
		position: absolute;
		width: 240.98px;
		height: 240.98px;
	}

	.LOGOdark img {
		position: absolute;
		width: 392px;
		height: 392px;
		left: 80px;
		z-index: 1;
		top: 70px;
	}

	/* kotak biru kiri */
	.kotak2 {
		position: absolute;
		width: 90.92px;
		height: 90.42px;
		left: -30px;
		top: 150.18px;
	}

	/* kotak kuning belakang LOGOdark */
	.kotak3 {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 552px;
		top: 189px;
	}

	/*aksesoris bintang biru atas LOGODARK*/
	.aksesoris2 {
		position: absolute;
		left: 708px;
		top: 90px;
	}

	.aksesoris2 img {
		position: absolute;
		width: 50px;
		height: 50px;
	}

	/*bintang biru bawah LOGODARK*/
	.aksesoris3 {
		position: absolute;
		left: 524px;
		top: 321px;
	}

	.aksesoris3 img {
		position: absolute;
		width: 50px;
		height: 50px;
	}

	/* sosmed */
	.sosmed {
		position: absolute;
		width: 250px;
		height: 45px;
		left: 50px;
		top: 410px;
	}

	.sosmed .kotak4 {
		position: absolute;
		width: 94px;
		height: 45px;
		border: 1px solid #0071F2;
		box-sizing: border-box;
		border-radius: 5px;
	}

	.sosmed .kotak4 a {
		width: 90px;
		height: 40px;
		left: 1px;
		top: 1px;
	}

	.sosmed .kotak5 {
		left: 130px;
		top: 0px;
		width: 122px;
		height: 45px;
	}

	.wa img {
		width: 40px;
		height: 40px;
	}

	.sosmed .kotak5 .wa a {
		left: 70px;
		top: 2px;
		position: absolute;
		width: 50px;
		height: 48px;
	}

	.ig img {
		width: 40px;
		height: 40px;
	}

	.sosmed .kotak5 .ig a {
		position: absolute;
		width: 50px;
		height: 50px;
	}

	/*end of masterhead*/
	/*awal tulisan alter element*/
	.alter {
		width: 100%;
		height: auto;
		left: -5px;
		top: 524px;
	}

	.alter img {
		width: 462px;
		height: auto;
	}

	.element {
		width: 663px;
		height: auto;
		left: 100px;
		top: 672px;
	}

	.element img {
		width: 662px;
		height: auto;
	}

	/* akhir tulisan alter element */
	/*best service*/
	.service .best {
		position: absolute;
		width: 100%;
		height: 315px;
		top: -300px;
	}

	.service .best img {
		position: absolute;
		left: -20px;
		width: 302px;
		height: 204px;
		top: 40px;
	}

	.service .best h3 {
		left: 300px;
		top: 80px;
	}

	.service .best p {
		left: 300px;
		top: 120px;
		font-family: Roboto;
		line-height: 25px;
		align-items: center;
		font-size: 14pt;
	}

	.service .best span {
		width: 455px;
		height: 6px;
		left: 300px;
		top: 300px;
	}

	/*consul*/
	.service .consul {
		position: absolute;
		width: 100%;
		height: 319px;
		top: 20px;
	}

	.service .consul img {
		position: absolute;
		left: 459px;
		width: 302px;
		height: 204px;
		top: 50px;
	}

	.service .consul h3 {
		position: absolute;
		width: 337px;
		height: 60px;
		left: 20px;
		top: 35px;
	}

	.service .consul p {
		position: absolute;
		width: 411px;
		height: 350px;
		left: 20px;
		font-size: 14pt;
		line-height: 25px;
	}

	.service .consul span {
		position: absolute;
		width: 411px;
		height: 6px;
		left: 20px;
		top: 290px;
	}

	/*maintance*/
	.service .maintance {
		position: absolute;
		width: 100%;
		height: 306px;
		top: 343px;

	}

	.service .maintance img {
		left: -20px;
		width: 302px;
		height: 204px;
		top: 40px;
	}

	.service .maintance h3 {
		position: absolute;
		width: 432px;
		height: 60px;
		left: 300px;
		top: 40px;
		line-height: 25px;
	}

	.service .maintance p {
		position: absolute;
		width: 451px;
		height: 350px;
		left: 300px;
		font-size: 14pt;
		line-height: 25px;

	}

	.service .maintance span {
		position: absolute;
		width: 458px;
		height: 6px;
		left: 300px;
		top: 300px;
		border-radius: 20px;
	}

	/*Akhir service*/
	/*testimoni*/
	.testimoni {
		position: absolute;
		width: 100%;
		height: 700px;
		top: 1760px;
	}

	.testimoni .tulisan {
		position: absolute;
		width: 200px;
		height: 60px;
		left: 609px;
		top: 20px;
	}

	.testimoni .tulisan h1 {
		position: absolute;
		width: 300px;
		height: 50px;
		left: -295px;
	}

	.testimoni .tulisan span {
		position: absolute;
		width: 165px;
		height: 4px;
		left: -295px;
		top: 50px;
	}

	.testimoni .kotaktesti {
		position: absolute;
		width: 100%;
		height: 400px;
		top: 250px;
		background: #29282F;
	}

	.testimoni .kotaktesti .letakkotakfoto {
		position: absolute;
		width: 290px;
		height: 290px;
		left: 250px;
		top: -100px;

	}

	.testimoni .kotaktesti .kotakfoto {
		position: absolute;
		width: 270px;
		height: 290px;
		left: 10px;
	}

	.testimoni .kotaktesti .letakkotakfoto img {
		position: absolute;
		left: -50px;
		top: -189px;
		width: 420px;
		height: 470px;
	}

	/* kotak kuning */
	.testimoni .kotak3 {
		width: 50px;
		height: 50px;
		left: 286px;
		top: 148.29px;
		z-index: -1;
	}

	/* bintang biru */
	.testimoni .aksesoris3 {
		position: absolute;
		left: 255px;
		top: 370px;
		z-index: 1;
	}

	/* bulat biru */
	.testimoni .kotak2 {
		z-index: 1;
		border-radius: 300px;
		left: 480px;
		opacity: 0.5;
		width: 100px;
		height: 100px;
	}

	.testimoni .namatesti {
		width: 250px;
		height: 100px;
		position: absolute;
		left: 300px;
		top: 450px;
	}

	.testimoni .namatesti h2 {
		font-family: Poppins;
		font-style: normal;
		line-height: 50px;
		text-transform: capitalize;

	}

	.testimoni .kesan {
		width: 490px;
		height: 100px;
		left: 170px;
		top: 550px;
	}

	.testimoni .kesan p {
		line-height: 25px;
		font: 12pt;
	}

	/*akhir testimoni*/
	/*footer*/
	.footer {
		width: 100%;
		height: 200px;
		top: 2420px;

	}

	.footer .info {
		width: 600px;
		height: 143px;
		left: 79px;
		top: 20px;
	}

	.info .medsos {

		width: 140px;
		height: 55px;
		left: 15px;
	}

	.info .medsos .ig a {

		width: 40px;
		height: 40px;
		left: 80px;
		top: 1px;
	}

	.info .medsos .wa a {
		position: absolute;
		width: 40px;
		height: 40px;
	}

	/*akhir footer*/
}
